{% extends 'base.html' %}

{% block title %}Mastobot{% endblock %}

{% block style %}
        span.status {
            font-weight:bold;
        {% if mastobot_state == "Fail" %}
            color: red;
        {% elif mastobot_state == "Paused" %}
            color: orange;
        {% else %}
            color: green;
        {% endif %}   
        }
{% endblock %}

{% block content %} 
      <ul>
        <li>Status: <span class="status">{{ mastobot_state }}</span></li>
        <li>Mastodon Account: {{ valid_mastodon }}<span class="fail">{{ valid_mastodon_reason }}</span></li>
        <li>Twitter Account: {{ valid_twitter }}<span class="fail">{{ valid_twitter_reason }}</span> </li>
      </ul>
      {% if valid_mastodon %}
        <form action="/" method="post">
        {% if mastobot_state == "Running" %}
          <button type="submit" name="mastobutton" value="pause">Pause</button>   
        {% elif mastobot_state == "Paused"  %}
          <button type="submit" name="mastobutton" value="resume">Resume</button>
        {% elif mastobot_state == "Fail"  %}
          <button type="submit" name="mastobutton" value="authorize">Authorize Twitter Account</button>   
        {% endif %}
        </form>
      {% else %}
        <p><span class="fail"> Check mastodon account parameters in config file</span></p> 
      {% endif %}   
{% endblock %}


